<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link href="style/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.11.0.min.js"></script>
    <script src="bootstrap.js"></script>
    <link href="style/carousel.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="grid_container">
    <div class="div8">
        <div style="height: 10vh" class="div1_header">
            <div class="div1_logo">
                <img class="div1_logo_foto" src="images/logo.svg" alt="logo">
            </div>
            <div class="div1_list">
                <ul>
                    <li>Главная</li>
                    <li>Услуги</li>
                    <li>Контакты</li>
                </ul>
            </div>
        </div>
        <div class="div1_foto">
        </div>
    </div>
    <div class="div2">
        <div class="carousel">
            <div class="carousel-inner1">
                <input class="carousel-open1" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                       checked="checked">
                <div class="carousel-item1">
                    <img src="images/foto11.jpg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto10.jpg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto12.png">
                </div>
                <label for="carousel-3" class="carousel-control1 prev1 control-1">‹</label>
                <label for="carousel-2" class="carousel-control1 next1 control-1">›</label>
                <label for="carousel-1" class="carousel-control1 prev1 control-2">‹</label>
                <label for="carousel-3" class="carousel-control1 next1 control-2">›</label>
                <label for="carousel-2" class="carousel-control1 prev1 control-3">‹</label>
                <label for="carousel-1" class="carousel-control1 next1 control-3">›</label>
                <ol class="carousel-indicators1">
                    <li>
                        <label for="carousel-1" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet1">♦</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="div9">
        <img class="div9_img" src="images/div9bg.png" alt="">
        <div class="div9_info">
            <img class="div9_info_img" src="images/div9_img1.svg" alt="Преимущества">
            <span class="div9_info_span">1</span><h3 class="div9_info_h3"></h3>
            <span class="div9_info_span">2</span><h3 class="div9_info_h3"></h3>
            <span class="div9_info_span">3</span><h3 class="div9_info_h3"></h3>
            <span class="div9_info_span">4</span><h3 class="div9_info_h3"></h3>
            <span class="div9_info_span">5</span><h3 class="div9_info_h3"></h3>
        </div>
    </div>
    <div class="div10">
        <div class="div6_prices">
            <div class="div6_prices_title">
                <h3 class="div6_h3_1">Наимнование работ</h3>
                <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
            </div>
            <div class="div6_string_1">
                <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии ВАГОНКОЙ ЕЛЬ класса "А"</h3>
            </div>
            <div class="div6_string_2">
                <h3 class="div6_h3_1">До 2-х кв.м. по полу</h3>
                <h3 class="div6_h3_2">Кв.М</h3>
                <h3 class="div6_h3_3">260₽</h3>
            </div>
            <div class="div6_string_2">
                <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                <h3 class="div6_h3_2">Кв.М</h3>
                <h3 class="div6_h3_3">240₽</h3>
            </div>
            <div style="border-bottom: none" class="div6_string_2">
                <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                <h3 class="div6_h3_2">Кв.М</h3>
                <h3 class="div6_h3_3">200₽</h3>
            </div>
        </div>
        <h3 class="div5_carousel_h3">
            Одни из многих наших работ:
        </h3>
        <div class="div5_carousel">
            <div class="container">
                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                     id="myCarouselGrid">

                    <div class="carouselGrid-inner">
                        <div class="item active">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto1.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto2.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                        src="images/about/foto3.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto4.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto5.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto6.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto7.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto8.png">
                            </div>
                        </div>
                    </div>

                </div>
                <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                            class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                            class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="div7">
        <div class="div7_menu">
            <h3 class="div7_h3">Меню</h3>
            <a class="div7_menu_a" href=""></a><h3 class="div7_menu_h3">Главная</h3>
            <a class="div7_menu_a" href=""></a><h3 class="div7_menu_h3">Услуги</h3>
            <a class="div7_menu_a" href=""></a><h3 class="div7_menu_h3">Контакты</h3>
        </div>
        <div class="div7_about">
            <h3 class="div7_h3">Создано</h3>
        </div>
        <div class="div7_info">
            <h3 class="div7_h3">Живые Комментарии !</h3>
        </div>
    </div>
    <script>
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next(); // grabs the next sibling of the carouselGrid
            if (!next.length) { // if ther isn't a next
                next = $(this).siblings(':first'); // this is the first
            }
            next.children(':first-child').clone().appendTo($(this)); // put the next ones on the array

            for (var i = 0; i < 3; i++) { // THIS LOOP SPITS OUT EXTRA ITEMS TO THE CAROUSEL
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }

        });
    </script>
</div>
</body>
</html>