<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Теплые Квадраты.Обшивка балконов в Казани, 203-33-59.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/jpg">
    <meta name="google-site-verification" content="b6HStXg4btkxGUqDHKeSLXJOijAbCiOTkqzbLq7QQL4" />
    <meta name="yandex-verification" content="f4209caa5cf06f23" />
    <link href="style/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.11.0.min.js"></script>
    <script src="bootstrap.js"></script>
    <link href="style/carousel.css" rel="stylesheet" type="text/css">
    <script src="https://vk.com/js/api/openapi.js?151" type="text/javascript"></script>
    <meta name="keywords" content=" обшивка балкона казань ,обшивка вагонкой казань, лоджия обшивка казань, балкон отделка казань, утепление балконов , встроеные шкафы на балконе казань, тумбочки на балконе, свет на балконе казань,обшивка балкона снаружи казань,остекление балкона казань,балкон остекление,балкон цена,пластиковый балкон,балкон под ключ казань,теплые квадраты казань, ">
    <meta name="description" content="Обшиваем балконы - лоджии, любой сложности .Предоплату за свою работу мы заранее не берем.Выезд на замер - доставка материала - подъем на этаж - бесплатно .">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110387143-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110387143-3');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47465332 = new Ya.Metrika2({
                        id:47465332,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47465332" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>
<div class="grid_container">
    <div class="div8">
        <div style="height: 10vh" class="div1_header">
            <div class="div1_logo">
                <img class="div1_logo_foto" src="images/logo.svg" alt="logo">
            </div>
            <div class="div1_list">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="index2.html">Услуги</a></li>
                    <li><a href="index3.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="div1_foto">
        </div>
    </div>
    <div class="div2">
        <div class="carousel">
            <div class="carousel-inner1">
                <input class="carousel-open1" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                       checked="checked">
                <div class="carousel-item1">
                    <img src="images/foto12.svg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto11.svg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto10.svg">
                </div>
                <label for="carousel-3" class="carousel-control1 prev1 control-1">‹</label>
                <label for="carousel-2" class="carousel-control1 next1 control-1">›</label>
                <label for="carousel-1" class="carousel-control1 prev1 control-2">‹</label>
                <label for="carousel-3" class="carousel-control1 next1 control-2">›</label>
                <label for="carousel-2" class="carousel-control1 prev1 control-3">‹</label>
                <label for="carousel-1" class="carousel-control1 next1 control-3">›</label>
                <ol class="carousel-indicators1">
                    <li>
                        <label for="carousel-1" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet1">♦</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="div11">
        <div class="div11_images">
            <div class="div11_img_1">
                <img src="images/contact.svg" alt="">
            </div>
            <div class="div11_img_2">
                <img src="images/div11_img2.svg" alt="">
            </div>
        </div>
        <div class="div11_info">
            <div class="div11_line">
                <h3 class="div11_line_h3">
                    Компания:
                </h3>
                <img style="width: 50%" src="images/div11_info.svg" alt="">
            </div>
            <div class="div11_line">
                <h3 class="div11_line_h3">
                    Телефон для связи:
                </h3>
                <a href="tel:+7(843)2033359">+7(843)203-33-59</a>,
                <a style="margin-left: 1%" href="tel:+79033446504">+7-90-33-446-504</a>
            </div>
            <div class="div11_line">
                <h3 class="div11_line_h3">
                    Мы в соц.Сетях:
                </h3>
                <a class=div3_vk href="https://www.instagram.com/teplyye.kvadraty/">
                    <img src="images/foto2.png" alt="">
                </a>
                <a class=div3_ins href="https://vk.com/obshivka_balkonov_vagonkoi">
                    <img src="images/foto8.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="div12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.0190304218277!2d49.156513315635216!3d55.82762898057342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eb2b0743f0bf9%3A0x14a956c935cdc73d!2z0YPQuy4g0JPQsNCy0YDQuNC70L7QstCwLCAxLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDEzMw!5e0!3m2!1sru!2sru!4v1516712392690" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="div7">
        <div class="div7_menu">
            <h3 class="div7_h3">Меню</h3>
            <a class="div7_menu_a" href="index.html"><h3 class="div7_menu_h3">Главная</h3></a>
            <a class="div7_menu_a" href="index2.html"><h3 class="div7_menu_h3">Услуги</h3></a>
            <a class="div7_menu_a" href="index3.html"><h3 class="div7_menu_h3">Контакты</h3></a>
        </div>
        <div class="div7_about">
            <h3 class="div7_h3">Создано</h3>
            <a href="http://mib.store/"><h3 class="div7_mib">M I B</h3></a>
        </div>
        <div class="div7_info">
            <h3 class="div7_h3">Живые комментарии</h3>
            <div id="vk_comments"></div>
        </div>
    </div>
    <script>
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next(); // grabs the next sibling of the carouselGrid
            if (!next.length) { // if ther isn't a next
                next = $(this).siblings(':first'); // this is the first
            }
            next.children(':first-child').clone().appendTo($(this)); // put the next ones on the array

            for (var i = 0; i < 3; i++) { // THIS LOOP SPITS OUT EXTRA ITEMS TO THE CAROUSEL
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }

        });
        window.onload = function () {
            VK.init({apiId: 6337697, onlyWidgets: true});
            VK.Widgets.Comments('vk_comments', {autoPublish:1, limit: 5},321);
        }
    </script>
</div>
</body>
</html>