<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/jpg">
    <link href="style/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.11.0.min.js"></script>
    <script src="bootstrap.js"></script>
    <link href="style/carousel.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.7.2.js"></script>
    <script src="https://vk.com/js/api/openapi.js?151" type="text/javascript"></script>
</head>
<body>
<div class="grid_container">
    <div class="div8">
        <div style="height: 10vh" class="div1_header">
            <div class="div1_logo">
                <img class="div1_logo_foto" src="images/logo.svg" alt="logo">
            </div>
            <div class="div1_list">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="index2.html">Услуги</a></li>
                    <li><a href="index3.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="div1_foto">
        </div>
    </div>
    <div class="div2">
        <div class="carousel">
            <div class="carousel-inner1">
                <input class="carousel-open1" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                       checked="checked">
                <div class="carousel-item1">
                    <img src="images/foto11.svg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto10.svg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto12.svg">
                </div>
                <label for="carousel-3" class="carousel-control1 prev1 control-1">‹</label>
                <label for="carousel-2" class="carousel-control1 next1 control-1">›</label>
                <label for="carousel-1" class="carousel-control1 prev1 control-2">‹</label>
                <label for="carousel-3" class="carousel-control1 next1 control-2">›</label>
                <label for="carousel-2" class="carousel-control1 prev1 control-3">‹</label>
                <label for="carousel-1" class="carousel-control1 next1 control-3">›</label>
                <ol class="carousel-indicators1">
                    <li>
                        <label for="carousel-1" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet1">♦</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="div9">
        <img class="div9_img" src="images/div9bg.png" alt="">
        <div class="div9_info">
            <img class="div9_info_img" src="images/div9_img1.svg" alt="Преимущества">
            <div class="div9_main_info">
                <span class="div9_info_span">1</span>
                –
                <h3 class="div9_info_h3">Бесплатный выезд, консультация, и составление сметы</h3>
            </div>
            <div class="div9_main_info">
                <span class="div9_info_span">2</span>
                –
                <h3 class="div9_info_h3">У нас самые конкурентные цены</h3>
            </div>
            <div class="div9_main_info">
                <span class="div9_info_span">3</span>
                –
                <h3 class="div9_info_h3">Опытный и подобранный персонал, только мастера своего дела</h3>
            </div>
            <div class="div9_main_info">
                <span class="div9_info_span">4</span>
                –
                <h3 class="div9_info_h3">Работаем в удобное для вас время, включая субботу и воскресенье</h3>
            </div>
            <div class="div9_main_info">
                <span class="div9_info_span">5</span>
                –
                <h3 class="div9_info_h3">Гарантия на все работы 3 года</h3>
            </div>
        </div>
        <div class="div9_footer">
            <img src="images/div9_img2.svg" alt="">
        </div>
    </div>
    <div class="div10_general">
        <div class="div10">
        <span class="div10_span">
            Обшивка вагонкой
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Раньше балкон служил чаще всего в качестве складского помещения, и его ремонтом практически не
                    занимались. Однако со временем люди поняли, что балконы могут стать частью квартиры и
                    использоваться, к примеру, для отдыха. Таким образом, возникла и необходимость в красивой и прочной
                    отделке этого помещения.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии ВАГОНКОЙ ЕЛЬ класса "А"</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 2-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">260₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">240₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">200₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto6.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto7.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto8.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto9.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto10.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about1/foto11.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Обшивка имитацией
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Любой специалист без раздумий перечислит сферы, где используется такой простой, доступный, но также
                    надежный, безопасный и красивый материал, как имитация бруса: внутренняя отделка деревянных домов и
                    обшивка их фасадов. Действительно, древесина преимущественно ассоциируется с загородными и дачными
                    интерьерами, но все чаще она встречается в самых обычных квартирах. Имитация бруса по-своему
                    уникальна, с ее помощью легко создать теплую атмосферу, свойственную домам из дерева, при этом
                    ограничиваясь скромным бюджетом.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии ИМИТАЦИЕЙ БРУСА ель класса
                            "А"</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">260₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">240₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto6.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about2/foto7.png">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Обшивка блок-хаусом
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Блок-хаусом называется современный материал для внутренней и наружной облицовки, который оригинально
                    сможет преобразить интерьер балконной зоны, наделяя его прекрасными эксплуатационными качествами. Он
                    отличается легкостью при монтаже и последующем уходе. Более того, блок-хаус может составить
                    серьезную конкуренцию современным материалам, предназначенным для облицовки, пользующимся большим
                    спросом на современном строительном рынке для облицовки лоджий и балконов.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии БЛОК-ХАУСОМ ЕЛЬ класса "А"</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">270₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">250₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about3/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about3/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about3/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about3/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about3/foto5.png">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Обшивка без сучковой вагонкой
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Для отделки лоджий, балконов, саун и бань чаще всего используется вагонка, которую изготавливают из
                    разных древесных пород. Наибольшей популярностью в пользуется вагонка из липы, которая имеет
                    существенные преимущества перед другими отделочными материалами.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии ВАГОНКОЙ ЛИПА класса "А"</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 2-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">300₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">280₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">260₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about4/foto6.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Обшивка стеновым паркетом из липы
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Современный материал для воплощения смелых идей. Прекрасная альтернатива и дополнение к вагонке из
                    липы — стеновой паркет в форме кирпича из лучшей отборной липовой древесины. Паркет собран в панели,
                    которые удобно монтируются. Отделайте «цоколь» кирпичиками из липы или зашейте всю стену. Толщина
                    стенового паркета такая же, как у вагонки, поэтому они отлично комбинируются.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка стен и потолка балкона или лоджии ВАГОНКОЙ ЛИПА класса "А"</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 4-х кв.м. по полу</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">500₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">До 6-и кв.м. по полу и более</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">480₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about5/foto6.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Покраска, тонирование дерева, старение(броширование)
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Покраска, лакирование и тонирование изделий из древесины – это не просто один из методов изменения
                    внешнего вида изделий и продления его срока эксплуатации, а возможность создавать неповторимый
                    дизайн интерьера и изменять фасады домов.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Покраска, тонирование и пропитка дерева, старение(броширование)</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Покраска дерева защитной пропиткой</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">40₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">3-х слойная покраска дерева в цвет</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">120₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Контрастная покраска (с выделением плинтусов)</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">140₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Покраска лаком (мат, полумат, глянец)</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">50₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">2-хцветная покраска, с нанесением лакокрасочного материала</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">160₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Старение дерева</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">Договорная</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto6.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto7.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about6/foto8.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
           Изготовление встроенных шкафов и прочей мебели
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    На этой странице вы сможете ознакомиться с примерами встроенной мебели, изготовленной для балконов и
                    лоджий на заказ. Наибольшей популярностью пользуются двустворчатые шкафы, откидные столики, тумбы
                    компактных размеров, шкафы-купе, изготовленные из ламинированной ДСП, пластика и деревянной вагонки.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Изготовление встроенных шкафов и прочей мебели</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Шкаф 4-6 полок с 4-мя жалюзийными дверцами</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">5000₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Шкаф на уровне подоконника с 2-ми полками</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">3000₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Полочки, откидные столики, ларь и т.п.</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">Договорная</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto5.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto6.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about7/foto7.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about7/foto8.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about7/foto9.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about7/foto10.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Вывод электричества, тёплые полы
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Стандартная электросхема большинства современных квартир не предполагает наличия питающего
                    напряжения на балконе или лоджии. Это делает весьма затруднительным проведение множества бытовых
                    работ на указанных объектах и ограничивает владельца недвижимости в плане эстетических
                    преобразований. Исходя из этого резонный вопрос о том, как провести свет на балкон.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Монтаж электрики, установка тёплых полов</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка розеток, выключателей</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">200₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка и подключение терморегулятора</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">400₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка точек, диаметор точки значение не имеет</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">100₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Подключение эл. обогревателя</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">Бесплатно</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Подключение потолочных, настенных светильников и плафонов</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">100₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Укладка теплых и подключени инфракрасных теплых полов</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">100₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Вывод электричества на балкон или лоджию</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">700₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about8/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about8/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about8/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about8/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about8/foto5.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Настил, откосы подоконники
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Настил: <br>Качественное напольное покрытие лоджии защитит вас от холода, который идет с улицы.
                    Утепляя балкон со всех сторон, вы гарантированно получаете благоприятный микроклимат круглогодично.
                    <br>
                    Откосы: <br>
                    Грамотная установка откосов имеет особую важность:
                    Откосы выполняют не только эстетическую роль, но и имеют огромное значение в форме утепления ,
                    звукоизоляции помещений.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Остальные комплектующие при отделке балкона или лоджии</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Настил половой доски ш*д = 13,5*30 см</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">460₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Обшивка оконных или дверных откоссов деревом шириной до 30 см</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">1500₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Обшивка оконных или дверных откоссов деревом более 30 см</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">2000₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Укладка всех декоративных деревянных плинтусов</h3>
                        <h3 class="div6_h3_2">Пг.М</h3>
                        <h3 class="div6_h3_3">44₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка пластиковых, деревянных подоконников шириной до 30</h3>
                        <h3 class="div6_h3_2">См</h3>
                        <h3 class="div6_h3_3">100₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка пластиковых, деревянных подоконников более 30 см</h3>
                        <h3 class="div6_h3_2">См</h3>
                        <h3 class="div6_h3_3">160₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about9/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about9/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about9/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about9/foto4.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
           Утепление балконов или лоджий
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Утепление лоджии позволяет избавиться от сквозняков и сырости, а также расширить полезную площадь
                    квартиры. Чтобы создать эффективную теплоизоляцию, важно не только применять качественные оконные
                    блоки, но и обязательно утеплить стены, пол и потолок лоджии.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Утепление балкона пенополистерол</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Укладка утеплителя под обшивку 2-5 см.,Толщиной</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">100₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Укладка алюминиевой теплоотражающей пленки 5 мм.,Толщиной</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">30₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about10/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about10/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about10/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about10/foto4.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Обшивка саун и  изготовление полог
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Если печь в бане часто сравнивают с её сердцем, то полог – это душа парилки. От его удобства и
                    безопасности зависят основные ощущения наших расслабленных и распаренных тел.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Обшивка саун и изготовление полог</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Обшивка стен и потолка вагонкой липа класса «ЭКСТРА»</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">200₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Утепление стен</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">90₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Гидроизоляция и пароизоляция стен</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">50₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Обивка стен фольгой</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">50₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Покраска стен и все остальное</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">70₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка плинтусов</h3>
                        <h3 class="div6_h3_2">Пг.М</h3>
                        <h3 class="div6_h3_3">44₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Изготовление полог в парной</h3>
                        <h3 class="div6_h3_2">Пг.М</h3>
                        <h3 class="div6_h3_3">2000₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка двери</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">1300₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Чистовой пол (доска)</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">400₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Чистовой пол (плитка)</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">600₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Бетонная стяжка пола до 50 мм</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">350₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Утепление пола</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">90₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Гидроизоляция пола</h3>
                        <h3 class="div6_h3_2">Кв.М</h3>
                        <h3 class="div6_h3_3">50₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Электропроводка</h3>
                        <h3 class="div6_h3_2">Пг.М</h3>
                        <h3 class="div6_h3_3">40₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Электропроводка в гофре</h3>
                        <h3 class="div6_h3_2">Пг.М</h3>
                        <h3 class="div6_h3_3">80₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Электроточка</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">350₽</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">Установка эл. печи</h3>
                        <h3 class="div6_h3_2">Шт</h3>
                        <h3 class="div6_h3_3">2500₽</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto1.jpg">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto2.jpg">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto3.jpg">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto4.jpg">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto5.jpg">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img class="image" src="images/about11/foto6.jpg">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div10">
        <span class="div10_span">
            Изготовление декоративных балок
            <p class="div10_p_one">➕</p>
            <p class="div10_p_two">➖</p>
        </span>
            <div class="div10_main">
                <div class="div10_info">
                    Потолочные фальшбалки способны кардинально преобразить помещение, привнести в него своеобразный
                    колорит и уют.Обратите внимание! Преимуществом данных элементов является то, что они легко
                    монтируются, а внутренние пустоты позволяют скрыть в них различные технологически линии, трубы,
                    кабели и т.д.
                </div>
                <div class="div6_prices">
                    <div class="div6_prices_title">
                        <h3 class="div6_h3_1">Наименование работ</h3>
                        <h3 style="border: none; padding-left: 0;width: 14%" class="div6_h3_2">Ед. Изм</h3>
                        <h3 style="padding-left: 0;" class="div6_h3_3">Стоимость</h3>
                    </div>
                    <div class="div6_string_1">
                        <h3 class="div6_h3_1">Изготовление декоративных балок</h3>
                    </div>
                    <div class="div6_string_2">
                        <h3 class="div6_h3_1">На все виды работ</h3>
                        <h3 class="div6_h3_2"></h3>
                        <h3 class="div6_h3_3">Договорная</h3>
                    </div>
                </div>
                <h3 style="margin-top: 2rem; font-weight: bold" class="div5_carousel_h3">
                    Как это выглядет:
                </h3>
                <div class="div5_carousel">
                    <div class="container">
                        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                             id="myCarouselGrid">

                            <div class="carouselGrid-inner">
                                <div class="item active">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about12/foto1.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about12/foto2.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about12/foto3.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about12/foto4.png">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                                src="images/about12/foto5.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape.svg" alt=""></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><img
                                    class="glyphicon glyphicon-chevron-left" src="images/shape2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div7">
        <div class="div7_menu">
            <h3 class="div7_h3">Меню</h3>
            <a class="div7_menu_a" href=""></a>
            <h3 class="div7_menu_h3">Главная</h3>
            <a class="div7_menu_a" href=""></a>
            <h3 class="div7_menu_h3">Услуги</h3>
            <a class="div7_menu_a" href=""></a>
            <h3 class="div7_menu_h3">Контакты</h3>
        </div>
        <div class="div7_about">
            <h3 class="div7_h3">Создано</h3>
        </div>
        <div class="div7_info">
            <h3 class="div7_h3">Живые Комментарии !</h3>
            <!--<div id="vk_comments"></div>-->
        </div>
    </div>
    <script>
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next(); // grabs the next sibling of the carouselGrid
            if (!next.length) { // if ther isn't a next
                next = $(this).siblings(':first'); // this is the first
            }
            next.children(':first-child').clone().appendTo($(this)); // put the next ones on the array

            for (var i = 0; i < 3; i++) { // THIS LOOP SPITS OUT EXTRA ITEMS TO THE CAROUSEL
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }

        });
        $(".div10_span").click(function () {
            $(this).toggleClass("active").siblings(".div10_main").slideToggle("slow");
        });
        window.onload = function () {
            VK.init({apiId: 6337697, onlyWidgets: true});
            VK.Widgets.Comments('vk_comments', {width: 500, limit: 15}, 321);
        }
        $(document).ready(function() { // Ждём загрузки страницы

            $(".image").click(function(){    // Событие клика на маленькое изображение
                var img = $(this);    // Получаем изображение, на которое кликнули
                var src = img.attr('src'); // Достаем из этого изображения путь до картинки
                $(".div10_main").append("<div class='popup'>"+ //Добавляем в тело документа разметку всплывающего окна
                    "<div class='popup_bg'></div>"+ // Блок, который будет служить фоном затемненным
                    "<img src='"+src+"' class='popup_img' />"+ // Само увеличенное фото
                    "</div>");
                $(".popup").fadeIn(800); // Медленно выводим изображение
                $(".popup_bg").click(function(){    // Событие клика на затемненный фон
                    $(".popup").fadeOut(800);    // Медленно убираем всплывающее окно
                    setTimeout(function() {    // Выставляем таймер
                        $(".popup").remove(); // Удаляем разметку всплывающего окна
                    }, 800);
                });
            });

        });

    </script>
</div>
</body>
</html>