<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link href="style/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.11.0.min.js"></script>
    <script src="bootstrap.js"></script>
    <link href="style/carousel.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="grid_container">
    <div class="div1">
        <div class="div1_header">
            <div class="div1_logo">
                <img class="div1_logo_foto" src="images/logo.svg" alt="logo">
            </div>
            <div class="div1_list">
                <ul>
                    <li>Главная</li>
                    <li>Услуги</li>
                    <li>Контакты</li>
                </ul>
            </div>
        </div>
        <div class="div1_foto">
        </div>
        <div class="div1_info">
            <a href="#">
                +7(843)203-33-59 </a>
            <a href="#">
                +7(903)344-65-04
            </a>
            <div class="div1_inst">
                <img class="div1_inst_img" src="images/foto2.png" alt="instagram">
                <img class="div1_inst_img" src="images/foto8.png" alt="vk">
            </div>
        </div>
        <div class="div1_caption">
            <img src="images/caption.svg" alt="Заголовок">
            <!--<div class="div1_border"></div>-->
        </div>
        <div class="div1_footer">
            <div class="div1_block_text">
                <p>Добро пожаловать в нашу компанию, выполним отделку, лодж и балконов, эко материалами, создадим часть
                    природы в вашем Доме.</p>
            </div>
            <div class="div1_square">
                <img src="images/sq.svg" alt="">
            </div>
            <div class="div1_buttom">
                <a class="div1_link" href="#div6">
                    <img src="images/button.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="div2">
        <div class="carousel">
            <div class="carousel-inner1">
                <input class="carousel-open1" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                       checked="checked">
                <div class="carousel-item1">
                    <img src="images/foto10.jpg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto11.jpg">
                </div>
                <input class="carousel-open1" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item1">
                    <img src="images/foto12.png">
                </div>
                <label for="carousel-3" class="carousel-control1 prev1 control-1">‹</label>
                <label for="carousel-2" class="carousel-control1 next1 control-1">›</label>
                <label for="carousel-1" class="carousel-control1 prev1 control-2">‹</label>
                <label for="carousel-3" class="carousel-control1 next1 control-2">›</label>
                <label for="carousel-2" class="carousel-control1 prev1 control-3">‹</label>
                <label for="carousel-1" class="carousel-control1 next1 control-3">›</label>
                <ol class="carousel-indicators1">
                    <li>
                        <label for="carousel-1" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet1">♦</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet1">♦</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="div3">
        <div class="div3_info">
            <div class="div3_foto"></div>
            <div class="div3_text">
                <p>Добрый день!<br>Меня зовут Абдуллин Айнур, я из республики Татарстан, город Казань.Вы спросите почему
                    выбрать услуги моей компании?… Отвечу вам, я работаю давно в этой сфере, начинал работать
                    подмострьем у отца,когда он ещё только начинал это дело, я не боюсь работы, и отвечаю за своё
                    качество так как работаю на каждом объекте лично!</p>
                <div class="div3_social">
                    <p>
                        П.С:<br> Вы может связатся со мной напрямую:
                    </p>
                    <a class=div3_vk href="">
                        <img src="images/foto2.png" alt="">
                    </a>
                    <a class=div3_ins href="">
                        <img src="images/foto8.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="div4">
        <div class="div4_logo">
            <img class="div4_img" src="images/tp.svg" alt="">
            <p class="div4_logo_p">Что мы делаем ?</p>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка вагонкой</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка блок-хаусом</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка стеновым паркетом из липы</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Вывод электричества, тёплые полы</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Утепление балконов или лоджий</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка имитацией</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка без сучковой вагонкой</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Покраска, тонирование, старение дерева</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Шкафы, тумбочки </h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Изготовление декоративных балок</h3>
        </div>
        <div class="div4_services">
            <p class="div4_services_p">♦</p>
            <h3 class="div4_services_h3">Обшивка саун и изготовление полог</h3>
        </div>
        <div class="div4_logo_p2">Не нашли что искали ?</div>
        <div class="div4_info">
            Вы всегда можете позвонить, и мы вместе подберём с вами услугу или скидку для любого кармана и вида работ!
        </div>
        <div class="div4_telefons">
            <a class="div4_tel" href="tel:+7(843)203-33-59">Тел:+ 7(843)203-33-59,</a>
            <a class="div4_tel" href="tel:+7-90-33-446-504">+7-90-33-446-504</a>
        </div>
    </div>
    <div class="div5">
        <div class="div5_about">
            <img class="div5_about_img" src="images/about.png" alt="О компании">
        </div>
        <div class="div5_texts">
            <div class="div5_text" style="text-align: right"><h3>Жирным описание</h3>
                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
                домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
                генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать
                текст
                более привлекательным и живым для визуально-слухового восприятия.
            </div>
            <div class="div5_width"></div>
            <div class="div5_text"><h3>Смысл сайта</h3>
                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
                сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему
                оратору
                отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали
                небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                предложений в абзаце, что позволяет сделать текс
            </div>
        </div>
        <div class="div5_carousel">
            <div class="container">
                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000"
                     id="myCarouselGrid">

                    <div class="carouselGrid-inner">
                        <div class="item active">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto1.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto2.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img
                                        src="images/about/foto3.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto4.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto5.png"></div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto6.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto7.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6"><img src="images/about/foto8.png">
                            </div>
                        </div>
                        </div>

                    </div>
                    <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><i
                                class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><i
                                class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="div6"><a name="div6"></a>

    </div>
    <div class="div7">

    </div>
</div>
<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next(); // grabs the next sibling of the carouselGrid
        if (!next.length) { // if ther isn't a next
            next = $(this).siblings(':first'); // this is the first
        }
        next.children(':first-child').clone().appendTo($(this)); // put the next ones on the array

        for (var i = 0; i < 3; i++) { // THIS LOOP SPITS OUT EXTRA ITEMS TO THE CAROUSEL
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }

    });
</script>
</body>
</html>