<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="style/styles.css">
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<!--<div class="debug">-->
<!--<div>-->
<!--<div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<section class="head">
    <div class="wrapper">
        <div class="items">
            <div class="item logo">
                <img src="img/home/im5.svg" alt="logo"></div>
            <div class="item menu">
                <a class="menu_a" href="">Главная</a>
                <a class="menu_a" href="">Услуги</a>
                <a class="menu_a" href="">Работы</a>
                <a class="menu_a" href="">Контакты</a>
            </div>
            <details class="details_menu">
                <summary class="summary_menu">
                    <h5 class="h5">МЕНЮ</h5>
                </summary>
                <div class="parent">
                    <a class="details_a" href="">Главная</a>
                    <a class="details_a" href="">Услуги</a>
                    <a class="details_a" href="">Работы</a>
                    <a class="details_a" href="">Контакты</a>
                </div>
            </details>
            <div class="item numbers">
                <a class="item_a" href="">+7(843)203-33-59</a>
                <a class="item_a" href="">+7-90-33-446-504</a>
            </div>
            <details class="details_numbers">
                <summary class="summary_numbers">
                    <h5 class="h5">ТЕЛЕФОН</h5>
                </summary>
                <div class="parent">
                    <a class="details_a" href="">+7(843)203-33-59</a>
                    <a class="details_a" href="">+7-90-33-446-504</a>
                </div>
            </details>
            <div class="item link">
                <a href=""><img src="img/home/4444.png" alt=""></a>
                <a href=""><img src="img/home/1111.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="secondMain">
    <div class="secondHome">
        <div class="wrapper">
            <div class="items">
                <div class="item advantages">
                    <img src="img/home/pr1.svg" alt="Теплые квадраты">
                </div>
                <div class="item paragraphs">
                    <h6 class="h6"><span class="span">1</span>– Бесплатный выезд, консультация, и составление сметы</h6>
                    <h6 class="h6"><span class="span">2</span>– У нас самые конкурентные цены</h6>
                    <h6 class="h6"><span class="span">3</span>– Опытный и подобранный персонал, только мастера своего дела</h6>
                    <h6 class="h6"><span class="span">4</span>– Работаем в удобное для вас время, включая субботу и воскресенье</h6>
                    <h6 class="h6"><span class="span">5</span>– Гарантия на все работы 3 года</h6>
                </div>
                <div class="item benefits">
                    <img src="img/home/secondMain.svg" alt="Теплые квадраты">
                </div>
            </div>
        </div>
        <div class="opacity"></div>
    </div>
</section>
<section class="price">
    <details class="info">
        <summary class="summary"><h3 class="h3">Просмотреть прайс</h3></summary>
        <div class="wrapper">
            <div class="table">
                <div class="information">* ВСЕ ЦЕНЫ, УКАЗАННЫЕ НА САЙТЕ ПРИВЕДЕНЫ КАК СПРАВОЧНАЯ ИНФОРМАЦИЯ И НЕ
                    ЯВЛЯЮТСЯ
                    ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ И МОГУТ БЫТЬ ИЗМЕНЕНЫ
                    В
                    ЛЮБОЕ ВРЕМЯ БЕЗ ПРЕДУПРЕЖДЕНИЯ.
                </div>
                <div class="title">
                    <h6 class="h6">Наимнование работ</h6>
                    <h6 class="h6">Ед. Изм</h6>
                    <h6 class="h6">Стоимость</h6>
                </div>
                <div class="name">
                    <h5 class="h5">Обшивка стен и потолка балкона или лоджии ВАГОНКОЙ ЕЛЬ класса "А"
                    </h5>
                </div>
                <div class="works">
                    <h6 class="h6">До 2-х кв.м. по полу</h6>
                    <h6 class="h6">Кв.М</h6>
                    <h6 class="h6">260₽</h6>
                </div>
                <div class="works">
                    <h6 class="h6">До 4-х кв.м. по полу</h6>
                    <h6 class="h6">Кв.М</h6>
                    <h6 class="h6">240₽</h6>
                </div>
                <div class="works border">
                    <h6 class="h6">До 6-х кв.м. по полу и более</h6>
                    <h6 class="h6">Кв.М</h6>
                    <h6 class="h6">200₽</h6>
                </div>
            </div>
        </div>
    </details>
</section>
<section class="companyServices">
    <div class="home">
        <div class="wrapper">
            <div class="text"><h2 class="bigText">Услуги компании</h2></div>
            <div class="items">
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка вагонкой</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка блок-хаусом</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка стеновым паркетом из липы</h5>
                </div>

                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Вывод электричества, тёплые полы</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Утепление балконов или лоджий</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка имитацией</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка без сучковой вагонкой</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Покраска, тонирование, старение дерева</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Настил, откосы подоконники</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Шкафы, тумбочки </h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Изготовление декоративных балок</h5>
                </div>
                <div class="item">
                    <h5 class="diamond">&#9830</h5>
                    <h5 class="h5">Обшивка саун и изготовление полог</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="opacity"></div>
</section>
<footer class="footer">
    <div class="wrapper">
        <div class="link">
            <div class="menu">
                <h3 class="h3">Меню</h3>
                <a href="" class="a"><h5 class="h5">Главная</h5></a>
                <a href="" class="a"><h5 class="h5">Услуги</h5></a>
                <a href="" class="a"><h5 class="h5">Контакты</h5></a>
            </div>
            <div class="mib">
                <h3 class="h3">Созданно</h3>
                <a href="" class="a"><h2 class="h2">mib</h2></a>
            </div>
            <div class="comments"></div>
        </div>
    </div>
</footer>


<div class="up">∧</div>
<script src="js/jquery-3.2.0.min.js" defer></script>
<script src="js/script.js" defer></script>
</body>
</html>